/* Style for rendered Markdown */

:root {
  --rose: #ea9a97;
	--love: #eb6f92;
	--gold: #f6c177;
	--iris: #c4a7e7;
	--text: #e0def4;
	--subtext1: #908caa;
	--subtext0: #6e6a86;
	--overlay2: #403d52;
	--overlay1: #26233a;
	--overlay0: #393552;
	--surface2: #524f67;
	--surface1: #1f1d2e;
	--surface0: #2a273f;
	--base: #232136;
	--mantle: #191724;
	--crust: #28263C;
  --white: #D9E0EE;
  --black: #000000;
  --light: #C9CFFF;
  --lighter-grey: #C3BAC6;
  --light-grey: #988BA2;

	--font-face: "Pier Sans", sans-serif;
  --font-mono: "Fantasque Sans Mono", Courier, monospace;
  --font-size: 14px;
  --icon-size: 16px;

  --regular: 400;
  --bolder: 600;

  --scroll-radius: 3px;

  --opacity-0-8: 0.8;
}

#rendered-md, body, th, td {
  background-color: var(--base) !important;
  font-family: var(--font-face) !important;
}

p, ul, ol, li {
  color: var(--text) !important;
}

strong {
  color: var(--text) !important;
}

hr {
  border: none;
  border-bottom: 1px solid var(--base) !important;
  margin: 2.5em 0 !important;
}

/* Scrollbars */
::-webkit-scrollbar-thumb {
  background-color: var(--base) !important;
  border-radius: var(--scroll-radius) !important;
}

/*********************************************************************************
* TITLES
*********************************************************************************/

h1 {
  border-bottom: 1px solid var(--base) !important;
  font-weight: var(--bolder) !important;
}

h2, h3, h4, h5, h6 {
  border-bottom: 0 !important;
  font-weight: var(--regular) !important;
}

/*********************************************************************************
* LINKS
*********************************************************************************/

a {
  color: var(--rose) !important;
  text-decoration: underline !important;
}

a:hover {
  text-decoration: underline !important;
}

/* Joplin icon in Joplin link */
.resource-icon {
  background-color: var(--rose) !important;
}

/*********************************************************************************
* CODE BLOCK
*********************************************************************************/

pre, .hljs {
  background-color: var(--mantle) !important;
  font-family: var(--font-mono) !important;
  padding: 10px !important;
  color: var(--text) !important;
  font-size: 14px !important;
  overflow: scroll !important;
}

/* Inline code */
.inline-code {
  background-color: transparent !important;
  border: 0 !important;
  font-family: var(--font-mono) !important;
  color: var(--gold) !important;
  font-size: 14px !important;
}

/*********************************************************************************
* BLOCKQUOTE
*********************************************************************************/

blockquote {
  background-color: var(--surface0) !important;
  padding: 10px !important;
  color: var(--light) !important;
  font-size: 14px !important;
  font-style: italic !important;
  border: 0 !important;
  border-left: 5px solid var(--mantle) !important;
}

/*********************************************************************************
* TABLES
*********************************************************************************/

table {
  border: 0 !important;
}

th {
  border: 0 !important;
  color: var(--text) !important;
  border-bottom: 1px solid var(--text) !important;
}

td {
  border: 0 !important;
  color: var(--text) !important;
  border-bottom: 1px solid var(--mantle) !important;
}

/*********************************************************************************
* HIGHLIGHTING
*********************************************************************************/

::selection {
	background-color: var(--iris) !important;
  color: var(--crust) !important;
}

mark, mark strong {
  background: var(--gold) !important;
  color: var(--crust) !important;
}

/* Highlighted searched item */
mark[data-markjs] {
  background-color: var(--iris) !important;
}

/*********************************************************************************
* PLUGINS
*********************************************************************************/

/* SPOILERS (https://github.com/martinkorelic/joplin-plugin-spoilers) */

/* Container for spoiler blocks */
.spoiler-block {
  border: 0 !important;
  border-radius: 0px;
}

/* Container for spoiler title */
#spoiler-block-title {
  font-family: var(--font-face) !important;
  color: var(--text) !important;
  background-color: var(--mantle) !important;
  border-radius: 0px;
}

/* Container for spoiler body */
#spoiler-block-body {
  font-family: var(--font-face) !important;
  color: var(--light) !important;
  background-color: var(--mantle) !important;
  border-radius: 0px;
}

/* Styling of the spoiler block body */
.summary-content {
  background-color: var(--mantle) !important;
}

.summary-title:before {
  color: var(--iris) !important;
}

/*********************************************************************************
* PRINT VERSION
*********************************************************************************/

@media print {

  #rendered-md, body, th, td {
    /* background-color: var(--white) !important; */
    background-color: #ffffff !important;
    font-family: var(--font-face) !important;
  }

  p, ul, ol, li {
    color: var(--black) !important;
  }

  strong {
    color: var(--black) !important;
  }

  h1 {
    border-bottom: 1px solid var(--black) !important;
    font-weight: var(--bolder) !important;
  }

  h2, h3, h4, h5, h6 {
    border-bottom: 0 !important;
    font-weight: var(--bolder) !important;
  }

  hr {
    border: none;
    border-bottom: 1px solid var(--black) !important;
    margin: 2.5em 0 !important;
  }

  a {
    color: var(--love) !important;
    text-decoration: underline !important;
  }

/* Inline code */
.inline-code {
  background-color: transparent !important;
  border: 0 !important;
  font-family: var(--font-mono) !important;
  /* color: var(--gold) !important; */
  color: #1E1E2E !important;
  font-size: 14px !important;
}

pre, .hljs {
  background-color: var(--lighter-grey) !important;
  font-family: var(--font-mono) !important;
  padding: 10px !important;
  color: var(--crust) !important;
  font-size: 14px !important;
  overflow: scroll !important;
}

blockquote {
  background-color: var(--lighter-grey) !important;
  padding: 10px !important;
  color: var(--crust) !important;
  font-size: 14px !important;
  font-style: italic !important;
  border: 0 !important;
  border-left: 5px solid var(--light-grey) !important;
}

}
